<link href="/pagefind/pagefind-component-ui.css" rel="stylesheet">
<script type="module" src="/pagefind/pagefind-component-ui.js"></script>

<pagefind-filter-pane></pagefind-filter-pane>
<pagefind-input></pagefind-input>
<pagefind-summary></pagefind-summary>
<pagefind-results max-results="50"></pagefind-results>
<pagefind-config faceted></pagefind-config>
